.parent{
  width:100%;
  height:650px;
  display:flex;
  justify-content: center;
  align-items: center;
}
#child {
  width:30%;
  height: 630px;
  padding-top: 8px;;
  background-color:white;
  border:2px solid red;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  background-color: white;
  
  
}
.form{
  width:40%;
  background-color: white;
  display:flex;
  flex-direction: column; 
}
.inputField{
  height:40px;
  width:100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin:5px;
}
.signupemail{
  width:100%;
  height:30px;
  display:flex;
  flex-direction:row;
  margin:5px;
}
.signuppass{
  width:100%;
  height:30px;
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
  margin:5px;
}
.inputField{
  width: 100%;
  height: 30px;
}
h2{
  margin-top:30px;
}
h4{
  margin-top:30px;
}
  
  